{%extends 'pages/base.jinja'%}

{%block title%}
    Flask Demo - Not Found 
{%endblock%}


{%block content%} 
    
    <section id="hero">
        <h1>Uh oh!!!!!!!</h1> 
    </section>
    <section id="mainText">
        <p>Something went wrong</p>
    </section>
    


{%endblock%}

