{%extends 'pages/base.jinja'%}

{%block title%}
    Supabase 
{%endblock%}


{%block content%} 
    
    <section id="hero">
        <h1>Hello!!!</h1> 
    </section>
    <section id="mainText">
        <h1>Home page þage</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. In aut iste nobis asperiores consequuntur, quibusdam debitis cumque rem nostrum voluptate necessitatibus eius magni, quidem dolor cum eligendi ad deleniti sequi.</p>
    </section>
    


{%endblock%}

