{%extends 'pages/base.jinja'%}

{%block title%}
    Supabase 
{%endblock%}


{%block content%} 
    
    <section id="hero">
        <h1>Hello!!!</h1> 
    </section>
    <section id="things">
        {%for thing in things%}

            <article>
                <header>
                    {{thing["name"]}}
                </header>
                <articleContents>
                    ${{thing["cost"]}}
                    <br>
                    {{thing["desc"]}}
                </articleContents>
                <footer>
                    <a href="/thing/{{thing['id']}}">more</a>
                    <a href="#">delete</a>
                </footer>
            </article>
            

        {%endfor%}
    </section>
    


{%endblock%}

